/* .App {
  background-color: blue;
  text-align: center;
} */

/* Overall container styling */
.container {
  margin-top: 100px;
}

/* Title styling */
h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  color: #669693;
}

/* Input Group Styling */
.input-group {
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-group .form-control {
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 10px;
  background-color:aliceblue;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-group .btn {
  border-radius: 10px;
  background-color: #669693;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

.input-group .btn:hover {
  background-color: #495057;
}

/* List Group Styling */
.list-group {
  margin-top: 20px;
}

.list-group-item {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #f8f9fa;
  color: #333;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.list-group-item span {
  display: flex;
  gap: 10px;
}

.list-group-item button {
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s ease;
}

.list-group-item button:hover {
  background-color: #0056b3;
}

/* Button (Delete and Edit) styling */
button {
  margin-left: 10px;
}

/* Responsive design for small screens */
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
  }

  .input-group .form-control {
    font-size: 1rem;
  }

  .input-group .btn {
    padding: 8px 16px;
  }

  .list-group-item {
    font-size: 1rem;
  }
}
